<%- include('../partials/navbar'); %>
<table class="table table-hover">
    <thead>
 
    <tbody>
        <% for(var i=0;i<recipes.length;i++) {%>

            <div class="item">
                <h3><%=recipes[i].title %></h3>
                Price::<%=recipes[i].price %>
            </div>
            
              <% } %>

              <!-- (check index. js in routes) values are comming from there-->

              <!-- <% for(var i=0;i<recipes.length;i++) {%>

                <div class="item">               
                    <h3><%=recipes[i].title %></h3>
                    Price::<%=recipes[i].price %>
                </div>
                
                  <% } %> -->


              <td>Total:</td>
            <td><%=total  %> </td>

            <tfoot>
                <tr>
                   
                </tr>
            </tfoot>
    </tbody>
</thead>
</table>


